@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@if (!Model.Any())
{
    <p>We dont have any customers yet</p>
}

else
{
    <table class=" table table-bordered table-hover">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>Membership Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cust in Model)
            {
                <tr>
                    <td>@Html.ActionLink(cust.Name, "Edit", "Customers", new { id = cust.Id }, null)</td>
                    <td>@cust.MembershipType.MembershipName</td>
                </tr>
            }
        </tbody>
    </table>
}