@model dynamic

@{
    ViewBag.Title = "New Rental";
}

<h2>New Rental</h2>

<form id="newRental">
    <div class="form-group">
        <label>Customer</label>
        <div class="tt-container">
            <input id="customer" required type="text" value="" class="form-control" />
        </div>
    </div>
    
    <div class="form-group">
        <label>Movies</label>
        <div class="tt-container">
            <input id="movie" type="text" value="" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <ul id="movies" required class="list-group"></ul>
        </div>
    </div> 
    
    
    <button class="btn btn-primary">Submit</button>
</form>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval");
    <script>
        $(document).ready(function() {
            var vm = {
                movieIds: []
            };
            var customers = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                prefetch: {
                    url: '/api/customers',
                    cache: false
                }
            });

            $('#customer').typeahead({
                    minLength: 2,
                    highlight: true
                },
                {
                    name: 'customers',
                    display: 'name',
                    source: customers
                }).on("typeahead:select",
                function(e, customer) {
                    vm.customerId = customer.id;
                });

            var movies = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                prefetch: {
                    url: '/api/movies',
                    cache: false
                }
            });

            $('#movie').typeahead({
                    minLength: 2,
                    highlight: true
                },
                {
                    name: 'movies',
                    display: 'name',
                    source: movies
                }).on("typeahead:select",
                function(e, movie) {
                    $('#movies').append("<li class='list-group-item'>" + movie.name + "</li>");

                    $('#movie').typeahead("val", "");
                    vm.movieIds.push(movie.id);
                });

            $.validator.addMethod("validCustomer",
                function() {
                    return vm.customerId && vm.customerId != 0;
                }, "Please enter a valid customer name");

            $.validator.addMethod("validMovie", function () {
                return vm.movieIds.length > 0;
            }, "Please select at least one movie.");

            $("#newRental").validate({
                submitHandler: function(frm, e) {
                    e.preventDefault();
                    $.ajax({
                            url: "/api/NewRentals",
                            method: "post",
                            data: vm
                        })
                        .done(function() {
                            toastr.success("Rentals successfully recorded");
                            $("#customer").typeahead("val", "");
                            $("#movie").typeahead("val", "");
                            $("#movies").empty();
                        })
                        .fail(function() {
                            toastr.error("You f***ed up!!!");
                        });
                }
            });

        });

    </script>

}
